<?xml version="1.0" encoding="UTF-8"?>
<report>
    <title>Ansible Automation Platform Node Metrics Report</title>
    <aap_url>{{ metrics.aap_url }}</aap_url>
    <generated_at>{{ metrics.generated_at }}</generated_at>
    
    <organizations>
{% for org in metrics.organizations %}
        <organization>
            <name>{{ org.name }}</name>
            <max_nodes>{% if org.max_hosts is none %}{% elif org.max_hosts == 0 %}Unlimited{% else %}{{ org.max_hosts }}{% endif %}</max_nodes>
            <total_nodes value="{{ org.total_nodes }}" percentage="{{ org.total_nodes_pct }}"/>
            <unique_nodes value="{{ org.unique_nodes }}" percentage="{{ org.unique_nodes_pct }}"/>
{% if org.shared_nodes is not none %}
            <shared_nodes value="{{ org.shared_nodes }}" percentage="{{ org.shared_nodes_pct }}"/>
{% endif %}
            <unique_licenses value="{{ org.unique_licenses }}" percentage="{{ org.unique_licenses_pct }}"/>
{% if org.shared_licenses is not none %}
            <shared_licenses value="{{ org.shared_licenses }}" percentage="{{ org.shared_licenses_pct }}"/>
{% endif %}
        </organization>
{% endfor %}
    </organizations>
{% if show_node_details | default(true) | bool %}
    
    <nodes_with_organizations>
{% for node in metrics.nodes %}
{% set has_orgs = node.organizations is defined and node.organizations is not none and (node.organizations | length) > 0 %}
{% if has_orgs %}
        <node>
            <nodename>{{ node.nodename }}</nodename>
            <license>{{ node.license | lower }}</license>
            <organizations>
{% for org_id in node.organizations %}
                <organization_id>{{ org_id }}</organization_id>
{% endfor %}
            </organizations>
        </node>
{% endif %}
{% endfor %}
    </nodes_with_organizations>
    
    <orphaned_nodes>
{% for node in metrics.nodes %}
{% set has_orgs = node.organizations is defined and node.organizations is not none and (node.organizations | length) > 0 %}
{% if not has_orgs %}
        <node>
            <nodename>{{ node.nodename }}</nodename>
            <license>{{ node.license | lower }}</license>
            <organizations/>
        </node>
{% endif %}
{% endfor %}
    </orphaned_nodes>
{% endif %}
    
    <organization_names>
{% for org_id, org_name in metrics.organization_names.items() %}
        <organization id="{{ org_id }}">{{ org_name }}</organization>
{% endfor %}
    </organization_names>
</report>
